#merch-shopShirt, #modal-merch-shopShirt {
    background-image: url('../images/merch/shop-shirt.JPG');
}

#merch-coffeeCup {
    background-image: url('../images/merch/coffee-cup.jpg');
}

#merch-tShirt {
    background-image: url('../images/merch/t-shirt.png');
}

#merch-hoodie {
    background-image: url('../images/merch/hoodie.png');
}

#merch-stickerPack {
    background-image: url('../images/merch/sticker-pack.jpg');
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 5; */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: end;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-merch-img {
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/1;
    border: none;
  }
  

  .orderFormElement {
    text-align: center;
    width: max-content;
  }

  .orderFormItem > p {
    margin-bottom: 0;
  }


  .orderFormItem {
    border: 1px solid #e7e7e7;
    border-radius: 0px;
    padding: 10px 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-dark);
    background-clip: inherit !important;
    background: #f6f6f6;
    border-radius: 50px; }
    .orderFormItem:focus {
      -webkit-box-shadow: none;
              box-shadow: none;
      border-color: var(--color-selected-primary); }
  
  .orderFormItem::-moz-placeholder {
    color: var(--color-dark); }
  
  .orderFormItem::-ms-input-placeholder {
    color: var(--color-dark); }
  
  .orderFormItem::-webkit-input-placeholder {
    color: var(--color-dark); }
  
  input.orderFormItem {
    height: 50px; }

    input.form-control.col-4, select.form-control.col-4 {
      width: 33%;
    }